:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(193,100%,13%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --greenColor: hsl(184,100%,16%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.rssFeedSection {
    margin-top: 5rem;
    .overviewSection {
        justify-content: space-between;
        
        a {
            color: var(--whiteColor);
            margin: 1rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }

        .leftOverview, .rightOverview {
            flex-basis: 100%;
            .singleItem1 {
                position: relative;
                height: 300px;
                width: 300px;
                display: flex;
                align-items: center;
                margin: 1rem;
                padding: 2rem;
                border-radius: 20px;
               
                background-color: var(--PrimaryColor);

                h3 {
                    font-size: var(--h3FontSize);
                    color: var(--blackColor);
                    padding: 3rem 0;
                }
            }

            .singleItem2 {
                position: relative;
                height: 300px;
                width: 150px;
                display: flex;
                align-items: center;
                margin: 1rem;
                padding: 2rem;
                border-radius: 20px;
                background-color: var(--PrimaryColor);

                h3 {
                    font-size: var(--h3FontSize);
                    color: var(--blackColor);
                    padding: 3rem 0;
                }
            }

            .singleItem3 {
                position: relative;
                height: 300px;
                width: 200px;
                display: flex;
                align-items: center;
                margin: 1rem;
                padding: 2rem;
                border-radius: 20px;
                background-color: var(--PrimaryColor);

                h3 {
                    font-size: var(--h3FontSize);
                    color: var(--blackColor);
                    padding: 3rem 0;
                }
            }
        }
    }
}