/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  overflow-y: scroll;
  overflow-wrap: normal;
}


.link{
  text-align: center;
  -webkit-text-size-adjust: auto;
  color: white;
}

.head__text {
  text-align: center;
  -webkit-text-size-adjust: auto;
  color: white;
  margin-bottom: 30px;
}

.pics {
  background:none;
  flex: auto;
  align-items: center;
  border-radius: 30px;
  width: 430px;
  height: 160px;
}

.text {
    color: white;
    text-align: left;
    overflow-wrap: break-word;
    max-width: 500px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    
}
.text1{
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow-wrap: break-word;
  
}