/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

body {
  margin: 0;
  font-family: serif;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffefb;
}

code {
  font-family: sans-serif;
  color: #fffefb;
}

.head__text {
  text-align: center;
  -webkit-text-size-adjust: auto;
  color: white;
  margin-bottom: 30px;
}

.pics {
  background:none;
  flex: auto;
  align-items: center;
  border-radius: 30px;
  width: 430px;
  height: 160px;
}

.articles {
    max-width: 500px;
    padding: 30px;
    border: 1px solid white;
    border-radius: 5px;
  }