:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(193,100%,13%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --greenColor: hsl(184,100%,16%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.listingSection {
    margin-top: 2rem;
    .rank {
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 6rem;
        width: 100%;

        .innerRank {
            height: 15px;
            width: 350px;
            background: var(--whiteColor);
            border-radius: 100px;
            margin: auto;
            overflow: hidden;
        }
    }

    .overviewSection {
        justify-content: space-between;
        
        .leftOverview {
            .title {
                color: var(--whiteColor);
                margin: 1rem;
                margin-bottom: 2rem;
                font-weight: 600;
            }

            .singleItem {
                position: relative;
                height: 10px;
                width: 280px;
                display: flex;
                align-items: center;
                margin: 1rem;
                padding: 2rem;
                border-radius: 25px;
                border: 3px solid var(--greenColor);

                .score {
                    color: var(--whiteColor);
                    font-weight: 600;
                    padding: 0 15px;
                }

                h3 {
                    font-size: var(--h3FontSize);
                    color: var(--brightGreen);
                    padding: 3rem 0;
                }
            }

            .efficiency {
                background: var(--greenColor);

                .efficiencyScore {
                    color: var(--whiteColor);
                }
            }
        }

        .middleOverview {
            padding: 2rem;
            margin: 1rem 5rem;
            text-align: center;
            color: var(--whiteColor);

            .title {
                margin: 1rem;
                font-weight: 600;
            }

            img {
                width: 230px;
            }

            p {
                font-weight: 800;
                margin-top: 2rem;
            }
        }

        .rightOverview {
            gap: 1rem;

            img {
                margin: 1rem;
                width: 400px;
            }
        }
    }
}