/* Colors and styles (Default) */
:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: #003442;
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
  }

.topSection {
    background: var(--PrimaryColor);
    padding: 2rem;

    .headerSection {
        justify-content: space-between;
        width: 82%;
        margin: auto;
        
        .title {
            .image {
                font-size: 25px;
                color: var(--whiteColor);
                margin-right: 1rem;
            }

            h1 {
                font-size: var(--h1FontSize);
                color: var(--whiteColor);
                font-weight: 700;
            }
        }

        .searchBar {
            padding: 0.8rem 2rem;
            background: var(--whiteColor);
            border-radius: 100px;
            width: 500px;
            display: flex;
            justify-content: space-between;

            input {
                border: none;
                outline: none;
                background: none;
            }

            .icon {
                color: var(--textColor);
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .adminDiv {
            gap: 1rem;
            color: var(--whiteColor);

            .icon {
                font-size: var(--biggestFontSize);
                border-radius: 5px;
                padding: 5px;
            }

            .admin-container {
                font-size: var(--normalFontSize);
                color: var(--whiteColor);
                font-weight: 500;
                cursor: pointer;

                .adminImage {
                    border: 3px solid var(--whiteColor);
                    border-radius: 50%;
                    width: 3rem;
                    height: 3rem;
                    overflow: hidden;
                    
                    .image {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                .adminName {
                    margin-left: 1rem;
                }
            }

            .dropdown-menu {
                position: absolute;
                top: 114px;
                right: 158px;
                background-color: var(--whiteColor);
                //opacity: 0.8;
                border-radius: 10px;
                padding: 10px 20px;
                width: 200px;
                color: var(--bgColor);
                z-index: 1;

                .dropdownItem {
                    display: flex;
                    padding: 10px 0;
                    margin: 10px auto;

                    a {
                        max-width: 200px;
                        margin-left: 10px;
                        transition: 0.5s ease;
                        color: var(--blackColor);
                    }
                }

                .dropdownItem:hover {
                    color: var(--brightGreen);
                    cursor: pointer;
                }
            }

            .dropdown-menu::before {
                content: '';
                position: absolute;
                top: -5px;
                right: 20px;
                height: 20px;
                width: 20px;
                background: var(--whiteColor);
                transform: rotate(45deg);
            }

            .dropdown-menu.active {
                opacity: 1;
                visibility: visible;
                transform: translate(0);
                transition: 0.5s ease;
            }

            .dropdown-menu.inactive {
                opacity: 0;
                visibility: hidden;
                transform: translate(-20px);
                transition: 0.5s ease;
            }
        }
    }
}