:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(193,100%,13%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --greenColor: hsl(184,100%,16%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.profileContainer {
    width: 100%;

    .contentWrapper {
        width: 82%;
        color: var(--whiteColor);
        justify-content: space-around;
        padding: 5rem;
        margin: 5rem auto;

        .content {
            width: 400px;

            h1 {
                margin-bottom: 2rem;
            }

            p {
                margin-top: 1rem;
            }

            input {
                margin: 10px 0;
                border-radius: 15px;
                border: 3px solid var(--greenColor);
                height: 50px;
                width: 400px;
                padding: 1rem;
            }

            .pic_input {
                width: 300px;
                border-radius: 15px 0 0 15px;
            }

            .update, .browse {
                margin-top: 1rem;
                padding: 0.5rem 1rem;
                background-color: var(--PrimaryColor);
                color: white;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }

            .browse {
                border-radius: 0 15px 15px 0;
                height: 47px;
                width: 100px;
            }
        }

        .image {
            width: 380px;
            border-radius: 50%;
            font-size: 400px;
            border: 3px solid var(--whiteColor);
        }
    }
}