:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(193,100%,13%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --greenColor: hsl(184,100%,16%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.heroSection {
    margin-top: 2rem;
    .rank {
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 6rem;
        width: 100%;

        .innerRank {
            height: 15px;
            width: 350px;
            background: var(--whiteColor);
            border-radius: 100px;
            margin: auto;
            overflow: hidden;
        }
    }

    .overviewSection {
        justify-content: space-between;
        width: 100%;
        margin: auto;
        
        .leftOverview {
            .title {
                color: var(--whiteColor);
                margin: 1rem;
                margin-bottom: 2rem;
                font-weight: 600;
            }

            .scoreContainer {
                .singleItem {
                    position: relative;
                    height: 230px;
                    width: 270px;
                    display: flex;
                    align-items: center;
                    margin: 1rem;
                    padding: 2rem;
                    border-radius: 25px;
                    border: 3px solid var(--greenColor);

                    .score {
                        font-size: 20px;
                        font-weight: 600;
                        color: var(--whiteColor);
                        padding: 0 15px;
                    }

                    h3 {
                        font-size: var(--normalFontSize);
                        color: var(--brightGreen);
                    }

                    .units {
                        font-size: var(--smallFontSize);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .rightOverview {
            padding: 1rem;
            margin: 1rem;
            text-align: center;
            color: var(--whiteColor);

            .title {
                font-weight: 600;
            }

            .earth {
                height: 250px;
            }

            p {
                font-weight: 800;
                margin-top: 1rem;
            }
        }
    }
}