@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: serif;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffefb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  margin: 2rem 0 0 2rem;
  font-weight: bold;
}

.date {
  margin-left: 2rem;
}
