:root {
    --PrimaryColor: #4a717b; 
    --HoverColor: #bdf094;           
    --brightGreen: #00cb8d;
    --paleGreen: hsl(192,40%,90%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(193,100%,13%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --greenColor: hsl(184,100%,16%);
  
    /* Font and typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.activitySection {
    margin-top: 0.5rem;
    margin-bottom: 5rem;
    
    .overviewSection {
        justify-content: space-between;

        .leftOverview {
            margin: 1rem;
            padding: 2rem;
            border-radius: 25px;
            border: 3px solid var(--greenColor);
            width: 100%;
            
            .chart_title {
                font-size: var(--normalFontSize);
                color: var(--brightGreen);
            }

            .chart_container {
                //width: 800px;
                margin-top: 3rem;
            }
        }

        .rightOverview {
            .title {
                color: var(--whiteColor);
                margin: 1rem;
                margin-bottom: 3rem;
                font-weight: 600;
            }

            .game {
                position: relative;
                height: 200px;
                width: 300px;
                margin: 1rem;
                padding: 2rem;
                border-radius: 20px;
                border: 3px solid var(--greenColor);
                justify-content: space-between;

                h3 {
                    font-size: var(--normalFontSize);
                    color: var(--brightGreen);
                }

                .title_container {
                    text-align: center;
                    position: relative;
                    top: 25%;
                    .game_title {
                        font-size: var(--h2FontSize);
                        color: var(--whiteColor);
                    }

                    .game_subtitle {
                        
                    }
                }
            }

            .singleItem {
                position: relative;
                height: 90px;
                width: 300px;
                display: flex;
                align-items: center;
                margin: 1rem;
                padding: 2rem;
                border-radius: 20px;
                border: 3px solid var(--greenColor);
                justify-content: space-between;

                h3 {
                    font-size: var(--normalFontSize);
                    color: var(--brightGreen);
                }

                .watts {
                    text-align: center;
                    color: var(--whiteColor);
                    font-size: var(--biggestFontSize);
                }
            }
        }
    }
}